.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 0.5rem solid #87b144;
}
.header__general {
  width: 83%;
  margin: 0 auto;
  display: flex;
  height: 6.6rem;
  align-items: center;
  gap: 1rem;
}
.header__logo {
  background-image: url("/assets/icons/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.header__link {
  flex: 0 0 20rem;
  height: 100%;
}

.categories {
  background-color: #87b144;
  height: 4rem;
  width: 100%;
}
.categories__button {
  margin-top: 0.1rem;
}
.categories__icon {
  position: relative;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  text-align: center;
}
.categories__icon, .categories__icon::after, .categories__icon::before {
  width: 1.7rem;
  height: 2.3px;
  background-color: #ffffff;
  display: inline-block;
}
.categories__icon::after, .categories__icon::before {
  content: "";
  position: absolute;
  left: 0;
}
.categories__icon::before {
  top: -0.6rem;
}
.categories__icon::after {
  top: 0.6rem;
}
.categories__content {
  width: 83%;
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.categories__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories__item--main {
  display: flex;
  gap: 0.5rem;
}
.categories__link:link, .categories__link:active, .categories__link:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  font-family: inherit;
}
.categories__link:hover {
  color: #e7fdc3;
}

.breadcrumb {
  width: 83%;
  margin: 0 auto;
  height: 2.3rem;
  margin-top: 0.3rem;
  color: #b0bbd0;
}
.breadcrumb__level:not(:first-child)::before {
  content: attr(data-symbol);
  padding: 0 0.8rem;
  font-size: 1.3rem;
  font-weight: 300;
}
.breadcrumb__link {
  font-size: 1.2rem;
}
.breadcrumb__link:link, .breadcrumb__link:active, .breadcrumb__link:visited {
  text-decoration: none;
  color: inherit;
}
.breadcrumb__link:hover {
  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

svg {
  fill: black;
  width: 15rem;
  height: 15rem;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Cera Pro", Arial, sans-serif;
  color: #2e2e2e;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/assets/fonts/Cera Pro Regular.otf");
}
@font-face {
  font-family: "Cera Pro Bold";
  src: url("/assets/fonts/Cera Pro Medium.ttf");
}
@font-face {
  font-family: "Cera Pro Light";
  src: url("/assets/fonts/Cera Pro Light.ttf");
}
.btn-reset, .cart, .login, .languages, .phone-number, .search__cancel-button, .search__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.btn-reset, .cart, .login, .languages, .phone-number, .search__cancel-button, .search__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.search {
  display: flex;
  border: 1px solid rgb(225, 225, 225);
  flex: 0 1 37%;
  border-radius: 1px;
  align-items: center;
  height: 50%;
}
.search__icon {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 1.2rem 0;
}
.search__cancel-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 0.5rem;
}
.search__input {
  border: none;
}
.search__input-area {
  padding: 0.6rem 0.6rem 0.6rem 1.5rem;
  font-weight: 400;
  width: 100%;
  max-width: 100%;
  border-right: 1px solid rgb(225, 225, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__input:focus {
  border: none;
  outline: none;
}
.search__input::placeholder {
  color: #afafc1;
  font-weight: 400;
  font-size: 1.6rem;
}

.btn-reset, .cart, .login, .languages, .phone-number, .search__button, .search__cancel-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.phone-number {
  display: flex;
  gap: 0.5rem;
  padding-right: 0.5rem;
  flex-shrink: 0;
}
.phone-number__icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: #87b144;
}
.phone-number__digits {
  margin-top: 2px;
  font-size: 2.2rem;
  font-family: "Cera Pro Bold", Arial, sans-serif;
}

.btn-reset, .cart, .login, .languages, .search__button, .search__cancel-button, .phone-number {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.languages {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 0.6rem 1.7rem !important;
  border-radius: 6px;
}
.languages__flag {
  width: 1.5rem;
  height: 1.5rem;
}
.languages__arrow-down {
  width: 1.2rem;
  height: 1.2rem;
  transform: rotate(90deg);
}

.btn-reset, .cart, .login, .search__button, .search__cancel-button, .phone-number, .languages {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.login {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login__icon {
  width: 1.5rem;
  height: 1.8rem;
  fill: #87b144;
}
.login__text {
  letter-spacing: 0.1px;
  font-family: "Cera Pro", Arial, sans-serif;
}

.btn-reset, .cart, .search__button, .search__cancel-button, .phone-number, .languages, .login {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.cart {
  display: flex;
  padding: 0 1.5rem;
  gap: 1rem;
  align-items: center;
}
.cart__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.4rem;
  height: 2.4rem;
  fill: #ffffff;
}
.cart__icon-container {
  position: relative;
  background-color: #f62e5e;
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
}
.cart__text {
  font-size: 2rem;
  font-family: "Cera Pro", Arial, sans-serif;
}

/*# sourceMappingURL=style.css.map */
