.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 0.5rem solid #87b144;
}
.header__general {
  width: 83%;
  margin: 0 auto;
  display: flex;
  height: 6.6rem;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.header__logo {
  background-image: url("/assets/icons/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.header__link {
  flex: 0 0 20rem;
  height: 100%;
}

.categories {
  background-color: #87b144;
  height: 4rem;
  width: 100%;
}
.categories__button {
  margin-top: 0.1rem;
}
.categories__icon {
  position: relative;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  text-align: center;
}
.categories__icon, .categories__icon::after, .categories__icon::before {
  width: 1.7rem;
  height: 2.3px;
  background-color: #ffffff;
  display: inline-block;
}
.categories__icon::after, .categories__icon::before {
  content: "";
  position: absolute;
  left: 0;
}
.categories__icon::before {
  top: -0.6rem;
}
.categories__icon::after {
  top: 0.6rem;
}
.categories__content {
  width: 83%;
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.categories__list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories__item--main {
  display: flex;
  gap: 0.5rem;
}
.categories__link:link, .categories__link:active, .categories__link:visited {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  font-family: inherit;
}
.categories__link:hover {
  color: #e7fdc3;
}

.breadcrumb {
  width: 83%;
  margin: 0 auto;
  height: 2.3rem;
  margin-top: 0.3rem;
  color: #b0bbd0;
}
.breadcrumb__level:not(:first-child)::before {
  content: attr(data-symbol);
  padding: 0 0.8rem;
  font-size: 1.3rem;
  font-weight: 300;
}
.breadcrumb__link {
  font-size: 1.2rem;
}
.breadcrumb__link:link, .breadcrumb__link:active, .breadcrumb__link:visited {
  text-decoration: none;
  color: inherit;
}
.breadcrumb__link:hover {
  text-decoration: underline;
}

.general {
  display: flex;
  gap: 2rem;
  width: 83%;
  margin: 0.3rem auto 0;
}

.gallery {
  height: 100%;
  flex: 1 1 75%;
  display: flex;
  flex-direction: column;
}
.gallery__item-name {
  margin-bottom: 1.2rem;
}
.gallery__seller-logo {
  width: 10rem;
}
.gallery__window {
  height: 46rem;
  text-align: center;
  position: relative;
}
.gallery__image--main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.main-actions {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: #ff9c26;
}

svg {
  fill: black;
  width: 15rem;
  height: 15rem;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Cera Pro", Arial, sans-serif;
  color: #2e2e2e;
}

h1 {
  font-size: 3.1rem;
  font-family: "Cera Pro Bold", Arial, sans-serif;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/assets/fonts/Cera Pro Regular.otf");
}
@font-face {
  font-family: "Cera Pro Bold";
  src: url("/assets/fonts/Cera Pro Medium.ttf");
}
@font-face {
  font-family: "Cera Pro Light";
  src: url("/assets/fonts/Cera Pro Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto.ttf");
}
.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .cta__rating-button, .slider__button, .slider__preview-button, .cart, .login, .languages, .phone-number, .search__cancel-button, .search__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.mb-sm {
  margin-bottom: 0.5rem !important;
}

.mb-md {
  margin-bottom: 1rem !important;
}

.mb-lg {
  margin-bottom: 2rem !important;
}

.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .cta__rating-button, .slider__button, .slider__preview-button, .cart, .login, .languages, .phone-number, .search__cancel-button, .search__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.search {
  display: flex;
  border: 1px solid rgb(225, 225, 225);
  flex: 0 1 38%;
  border-radius: 1px;
  align-items: center;
  height: 50%;
}
.search__icon {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 1.2rem 0;
}
.search__cancel-icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 0.5rem;
}
.search__input {
  border: none;
}
.search__input-area {
  padding: 0.6rem 0.6rem 0.6rem 1.5rem;
  font-weight: 400;
  width: 100%;
  max-width: 100%;
  border-right: 1px solid rgb(225, 225, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__input:focus {
  border: none;
  outline: none;
}
.search__input::placeholder {
  color: #afafc1;
  font-weight: 400;
  font-size: 1.6rem;
}

.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .cta__rating-button, .slider__button, .slider__preview-button, .cart, .login, .languages, .phone-number, .search__button, .search__cancel-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.phone-number {
  display: flex;
  gap: 0.5rem;
  padding-right: 0.5rem;
  flex-shrink: 0;
}
.phone-number__icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: #87b144;
}
.phone-number__digits {
  margin-top: 2px;
  font-size: 2.2rem;
  font-family: "Cera Pro Bold", Arial, sans-serif;
}

.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .cta__rating-button, .slider__button, .slider__preview-button, .cart, .login, .languages, .search__button, .search__cancel-button, .phone-number {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.languages {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.6rem 1.7rem !important;
  border-radius: 6px;
}
.languages__flag {
  width: 1.5rem;
  height: 1.5rem;
}
.languages__arrow-down {
  width: 1.2rem;
  height: 1.2rem;
  transform: rotate(90deg);
}

.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .cta__rating-button, .slider__button, .slider__preview-button, .cart, .login, .search__button, .search__cancel-button, .phone-number, .languages {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.login {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login__icon {
  width: 1.5rem;
  height: 1.8rem;
  fill: #87b144;
}
.login__text {
  letter-spacing: 0.1px;
  font-family: "Cera Pro", Arial, sans-serif;
}

.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .cta__rating-button, .slider__button, .slider__preview-button, .cart, .search__button, .search__cancel-button, .phone-number, .languages, .login {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.cart {
  display: flex;
  padding-left: 2rem !important;
  gap: 1rem;
  align-items: center;
}
.cart__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.4rem;
  height: 2.4rem;
  fill: #ffffff;
}
.cart__icon-container {
  position: relative;
  background-color: #f62e5e;
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
}
.cart__text {
  font-size: 2rem;
  font-family: "Cera Pro", Arial, sans-serif;
  color: #707070;
}

.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .cta__rating-button, .slider__button, .slider__preview-button, .search__button, .search__cancel-button, .phone-number, .languages, .login, .cart {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.slider {
  height: 13.8rem;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.slider__previews {
  display: flex;
  align-items: center;
  padding: 0 4rem;
}
.slider__preview {
  display: inline-block;
  width: 100%;
}
.slider__preview-button {
  width: 10.6rem;
  height: 10.6rem;
}
.slider__preview-button:active, .slider__preview-button:focus, .slider__preview-button:visited {
  border: 1px solid black;
}
.slider__button {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
}
.slider__button--left {
  justify-self: flex-start;
}
.slider__button--right {
  justify-self: flex-end;
}
.slider__arrow {
  fill: #9e9e9e;
  width: 100%;
  height: 100%;
}

.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .cta__rating-button, .search__button, .search__cancel-button, .phone-number, .languages, .login, .cart, .slider__preview-button, .slider__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.cta {
  background-color: #f8fcff;
  border: solid 1px #dce8f4;
  justify-self: flex-end;
  padding: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.cta__ratings {
  margin-top: 1.5rem;
  display: flex;
  height: 3rem;
  padding-bottom: 4rem;
}
.cta__rating-icon {
  width: 2.4rem;
  height: 2.2rem;
}
.cta__rating-icon--yellow {
  fill: #ffc94f;
}
.cta__rating-icon--grey {
  fill: #eeeeee;
}
.cta__rating-reviews--link:active, .cta__rating-reviews--link:visited, .cta__rating-reviews--link:link {
  font-size: 1.4rem;
  margin-top: 2px;
  padding: 0 0 0 0.5rem;
  color: #b4b4b4;
}
.cta__rating-reviews--link:active:hover, .cta__rating-reviews--link:visited:hover, .cta__rating-reviews--link:link:hover {
  color: #87b144;
  text-decoration: none;
}
.cta__amount {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.cta__amount-label {
  padding-right: 1rem;
}
.cta__amount-dropdown {
  flex-grow: 1;
  height: 4rem;
  padding: 0.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Cera Pro Bold", Arial, sans-serif;
}
.cta__amount-dropdown--option {
  font-size: 1.8rem;
}
.cta__duration {
  color: #87b144;
  padding-bottom: 1.5rem;
}
.cta__amazon-button {
  margin: 0.7rem 0 1rem !important;
  background-color: #f9d875 !important;
}
.cta__amazon-icon {
  transform: translateY(30%);
  width: 9rem;
}
.cta__paypal-info {
  font-size: 1.2rem;
  display: inline-block;
  padding-bottom: 0.8rem;
}
.cta__paypal-info:link, .cta__paypal-info:visited {
  text-decoration: none;
  color: #595b5b;
}
.cta__paypal-info:active {
  text-decoration: underline;
}
.cta__paypal-text {
  white-space: nowrap;
}
.cta__paypal-text--link {
  color: #0070ba;
  text-decoration: underline;
  white-space: nowrap;
}
.cta__paypal-icon {
  background-image: url("../../assets/icons/paypal.svg");
  display: inline-block;
  margin-bottom: -0.95rem;
  width: 4.5rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-reset, .pill-button, .suggestions__button, .aux-actions__button, .search__button, .search__cancel-button, .phone-number, .languages, .login, .cart, .slider__preview-button, .slider__button, .cta__rating-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.aux-actions {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  background-color: #f9fbf6;
  border: 1px solid #e5f3cd;
  width: 100%;
  margin-top: 2rem;
  height: 9.7rem;
  padding: 2.5rem 2rem;
}
.aux-actions__button {
  color: rgb(88, 87, 87);
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.aux-actions__icon {
  fill: #87b144;
  height: 2.1rem;
  width: 2.1rem;
}

.btn-reset, .pill-button, .suggestions__button, .search__button, .search__cancel-button, .phone-number, .languages, .login, .cart, .slider__preview-button, .slider__button, .cta__rating-button, .aux-actions__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

.suggestions {
  margin-top: 2.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.suggestions__header {
  display: flex;
  margin-bottom: 1rem;
}
.suggestions__heading {
  font-size: 2rem;
  font-family: "Cera Pro Bold", Arial, sans-serif;
  color: #2e2e2e;
}
.suggestions__buttons {
  margin-left: auto;
}
.suggestions__arrow {
  width: 2.7rem;
  height: 2.7rem;
  fill: #9e9e9e;
}
.suggestions__item {
  width: 100%;
  display: flex;
  border: solid 1px #dce8f4;
  padding: 1.5rem;
  position: relative;
}
.suggestions__item-percent-block {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f62f5e;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suggestions__item-percent-label {
  color: #ffffff;
  font-size: 1.5rem;
}
.suggestions__item-photo {
  width: 100%;
}
.suggestions__item-photo-wrapper {
  flex: 1 0 35%;
  display: flex;
  align-items: center;
}
.suggestions__item-info {
  flex: 1 0 60%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
.suggestions__item-header {
  font-size: 1.6rem;
  font-family: "Cera Pro Bold", Arial, sans-serif;
}
.suggestions__item-header:link, .suggestions__item-header:visited, .suggestions__item-header:active {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
.suggestions__item-header:hover {
  text-decoration: underline;
}

.price {
  display: flex;
  flex-direction: column;
}
.price__old-price {
  color: #bbbbbb;
  font-size: 1.4rem;
  display: inline-block;
}
.price__old-price-wrapper {
  display: flex;
}
.price__old-price--line-through {
  text-decoration: line-through;
  padding-right: 1rem;
}
.price__discount {
  font-family: "Cera Pro Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.price__discount--pill {
  background-color: #f62f5e;
  padding: 0.3rem 1rem;
  border-radius: 1.1rem;
  color: #ffffff;
}
.price__discount--plain {
  color: #f62f5e;
}
.price__actual-price-wrapper {
  align-items: flex-start;
  display: flex;
  margin: 3px 0 0 3px;
}
.price__actual-price-wrapper--skewed {
  transform: skewX(-6deg);
}
.price__actual-price-wrapper--lg {
  gap: 3px;
}
.price__actual-price-wrapper--sm {
  gap: 6px;
}
.price__actual-price-normal {
  font-family: "Cera Pro Bold", Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
}
.price__actual-price-normal--lg {
  font-size: 5rem;
}
.price__actual-price-normal--sm {
  font-size: 3rem;
}
.price__actual-price-superscript {
  text-decoration: underline;
  font-family: "Cera Pro Bold", Arial, sans-serif;
  font-weight: 700;
}
.price__actual-price-superscript--lg {
  font-size: 2.4rem;
}
.price__actual-price-superscript--sm {
  font-size: 1.2rem;
}
.price__actual-price-light {
  font-size: 2.4rem;
  font-family: "Cera Pro Light", Arial, sans-serif;
}
.price__article-number {
  width: fit-content;
}
.price__article-number--lg {
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 2rem;
}
.price__article-number--sm {
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  background-color: #ebebeb;
}
.price__delivery-costs {
  font-size: 1rem;
  font-weight: 400;
  color: #787979;
}
.price__delivery-costs-link {
  text-decoration: underline;
}
.price__delivery-costs-link:link, .price__delivery-costs-link:active, .price__delivery-costs-link:visited {
  color: inherit;
}
.price__delivery-costs-link--hover:hover {
  color: #87b144;
}

.pill-button {
  background-color: #f62f5e;
  border-radius: 10rem;
  padding: 1.3rem 1.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.pill-button__icon {
  width: 2.1rem;
  height: 2.1rem;
  fill: #ffffff;
}
.pill-button__label {
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
