.btn-reset {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}
