@import "../abstracts/variables";
.breadcrumb {
  width: $header-width;
  margin: 0 auto;
  height: 2.3rem;
  margin-top: 0.3rem;
  color: #b0bbd0;

  &__level {
    &:not(:first-child)::before {
      content: attr(data-symbol);
      padding: 0 0.8rem;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  &__link {
    font-size: 1.2rem;
    &:link,
    &:active,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
