@import "../abstracts/variables";
@import "../abstracts/extends";

.social-media {
  background-color: #3f4149;
  padding: 1.5rem;

  &__container {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    height: 100%;
  }

  &__slogan {
    color: #a6a6a6;
    flex-basis: 32%;
  }

  &__buttons {
    display: flex;
    gap: 0.4rem;
  }

  &__button {
    @extend .btn-reset;
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 50% !important;
    border: 2px solid #a7a7a7 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: border 0.2s;

    &:hover {
      border: 2px solid #edeff1 !important;
    }
  }

  &__icon {
    fill: #edeff1;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__payment-methods {
    margin-left: auto;
  }
}
