@import "../abstracts/variables";
@import "../abstracts//extends";

.search {
  display: flex;
  border: $thin-border;
  flex: 0 1 37%;
  border-radius: 1px;
  align-items: center;
  height: 50%;

  &__button {
    @extend .btn-reset;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 1.2rem 0;
  }

  &__cancel-button {
    @extend .btn-reset;
  }

  &__cancel-icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 0.5rem;
  }

  &__input {
    border: none;

    &-area {
      padding: 0.6rem 0.6rem 0.6rem 1.5rem;
      font-weight: 400;
      width: 100%;
      max-width: 100%;
      border-right: $thin-border;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: #afafc1;
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
}
